

.content{
    text-align: left;
    font-size: 26px;
}

.productWrap{
    margin: auto;
    /* width: 100%; */
    font-size: 26px;
    display: flex;
    justify-content: center;
}

.productList {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    align-content: flex-start;
    flex-wrap: wrap;
}

.itemWrap{
    margin-right: 10px;
    margin-top: 15px;
    font-size: 16px;
    background: #fff;
    border: 1px solid rgb(176, 176, 176);
    min-width: 220px;
    min-height: 200px;
    /* width: 100%; */
}

.loading-itemWrap{
    margin-right: 10px;
    margin-top: 15px;
    font-size: 16px;
    /* background: #fff; */
    min-width: 220px;
    min-height: 200px;
}

.product_name{
    font-size: 20px;
    margin: 20px 0 0 10px;
    max-width: 200px;
}

.growth{
    font-weight: lighter;
    margin:3px 0 0 10px;
    
}
.chartTime{
    text-align: center;
    line-height: 20px;
    font-weight: lighter;
    margin: 5px 0;
    width: auto;
}


@media (max-width: 650px) { 
    /* .itemWrap{

        width: 100%;
        min-height: 200px;
        width: 100%; 
    } */
 }